@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


:root {
   --main-color: #7c3cf3;
   --color-dark: #1D2231;
   --text-grey: #8390A2;
   --second-color: #9B65FE;
   --primary-color: white;
   --status-review: rebeccapurple;
   --status-progress: deeppink;
   --status-pending: red;
   --search-color: none;
   --boton-color: none;
   --shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
   --porcentage:var(--main-color);
   --background-color: white;
   --gradient: linear-gradient(135deg, #71b7e6, #9b59b6);
   --gradient2:linear-gradient(-135deg, #71b7e6, #9b59b6);
   

}


 

body{
   background-color: var(--background-color);
}

/*Color cuando se pone oscuro*/

body.dark{
   --main-color: #485262;
   
     --color-dark: white;
       --primary-color:  #19253a;
       --shadow: 3px 3px 10px ;
       --color-dark: white;
       --text-grey: black;
       --second-color: grey;
       --porcentage:  #696ffb;
       --status-review: #646aea;
       --status-progress: #db504a;
       --status-pending: #56c6c0;
       --background-color:#19253a ;
       --gradient: linear-gradient(135deg, #7c3cf3, #485262);
       --gradient2:linear-gradient(-135deg, #7c3cf3, #485262);
       
}

small{
   color: var(--text-grey);
}
.nocolor{
   color: none;
}
.report h3{
   color: var(--color-dark);
}

h3{
   color: black;
}

.h5login{
   color: var(--background-color);
 }

span{
   color: var(--text-grey);
}

main.dark{
   background: var(--color-dark);
   color: #000;
}



* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style-type: none;
   text-decoration: none;
   font-family: 'Poppins', sans-serif;

}

.main-content {
   position: relative;
   background: var(--primary-color);
   min-height: 100vh;
   top: 0;
   left: 78px;
   width: calc(100% - 78px);
   transition: all 0.5s ease;
   z-index: 2;

}

.main-content-customer {
   position: relative;
   background: var(--primary-color);
   min-height: 100vh;
   top: 0;
   left: 78px;
   width: calc(100% - 78px);
   transition: all 0.5s ease;
   z-index: 2;

}

header {

   background-color: var(--primary-color);
   height: auto;
   width: 100%;
   color: var(--color-dark);
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 1.5rem;
   box-shadow: var(--shadow);
   top: 0;
   left: 78px;
   width: calc(100% - 78px);
   transition: all 0.5s ease;

   position: fixed;
   
  
   padding: 6px 14px;
   z-index: 99;
   

}


/*Menu lateral*/



#nav-toggle {
   display: none;
}

header h2 {
   color: black;
   color: var(--color-dark);
}

header small{
   color: var(--text-grey)
}

header h2 label {
   color: var(--color-dark);
   display: inline-block;
   background: var(--main-color);
   padding-left: 0rem;
   margin-right: 1rem;
   height: 40px;
   width: 40px;
   border-radius: 50%;
  
   display: flex;
   align-items: center;
   justify-content: center !important;
}


.search-wrapper {
   border: 1px solid #f0f0f0;
   border-radius: 30px;
   height: 50px;
   display: flex;
   align-items: center;
   overflow-x: hidden;
   color: var(--search-color);
}

.search-wrapper input {
   height: 100%;
   padding: .5rem;
   border: none;
   outline: none;

}

.search-wrapper span {
   display: inline-block;
   padding: 0rem 1rem;
   font-size: 1.5rem;
}

.user-wrapper {
   display: flex;
   align-items: center;

}

.user-wrapper img {
   border-radius: 50%;
   margin-right: 1rem;
}

.user-wrapper small {
   display: inline-block;
   color: var(--text-grey);

}

main {

   margin-top: 90px;
   padding: 2rem 1.5rem;
   background: var(--primary-color);
   min-height: calc(100vh - 90px);
}

.cards {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 2rem;
   margin-top: 1rem;
}

.card-single {
   display: flex;
   justify-content: space-between;
   background: white;
   padding: 2rem;
   border-radius: 2px;
}




.card-single div:last-child span {
   font-size: 3rem;
   color: var(--main-color)
}

.card-single div:first-child span {
   color: var(--text-grey);
}

.card-single:last-child {
   background: var(--main-color);
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span {
   color: white;

}

.recent-grid {
   margin-top: 3.5rem;
   display: grid;
   grid-gap: 2rem;
   grid-template-columns: 65% auto;
}

.card {
   background: #fff;
   border-radius: 5px;
}

.card-header {
   padding: 1rem;
}

.card-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #f9f9f9;
}

.card-header button {
   background: var(--main-color);
   border-radius: 10px;
   color: #fff;
   font-size: .8rem;
   padding: .5rem 1rem;
   border: 1px solid var(--main-color);
}

.report {
   border-radius: 5px;
   padding: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   font-size: 30px;

}

.report button {
   background: var(--main-color);
   border-radius: 10px;
   color: #fff;
   font-size: medium;
   padding: .5rem 1rem;
   border: 1px solid var(--main-color);

}

.report button span {

   font-size: 1.5rem;

}

table {
   border-collapse: collapse;
}

thead tr {
   border-top: 1px solid #f9f9f9;
   border-bottom: 2px solid #f9f9f9;
}

thead td {
   font-weight: 700;
}

td {
   padding: .5rem 1rem;
   font-size: .9rem;
   color: #222;

}

td .status {
   display: inline-block;
   height: 10px;
   width: 10px;
   border-radius: 50%;
   margin-right: 1rem;
}

tr td:last-child {
   display: flex;
   align-items: center;
}

.status.purple {
   background: var(--status-review);
}

.status.pink {
   background: var(--status-progress);
}

.status.orange {
   background: var(--status-pending);
}

.table-responsive {
   width: 100%;
   overflow-x: auto;
}

.customer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: .5rem .7rem;
}

.info {
   display: flex;
   align-items: center;
}

.info img {
   border-radius: 50%;
   margin-right: 1rem;
}

.info h4 {
   font-size: .8rem;
   font-weight: 600;
   color: #222;
}

.info small {
   font-weight: 600;
   color: var(--text-grey);
}

.contact span {
   font-size: 1.2rem;
   display: inline-block;
   margin-left: .5rem;
   color: var(--main-color);
}

span {
   text-decoration: none !important;
}

a {
   text-decoration: none !important;
}


/*Barras de progreso de entrega de proyectos*/


.progress-tittle {
   width: 100%;
   height: auto;
}

.progress {
   height: 20%;
   background: #171b3c;
   border-radius: 20px;
   border: 1px solid #000;
   box-shadow: 0 2px 2px #4f4c4c;
   margin-bottom: 40px;
   overflow: visible;
   position: relative;
}

.progress .progress-bar {
   border-radius: 20px;
   border: 1px solid#000;
   animation: animate-positive 2s;
}


@keyframes animate-positive {
   0% {
      width: 0;
   }
}

.clase {
   padding-left: 0rem;
}


/*Grafico circular*/


.container2 {
   width: 370px;
   margin: 3.8rem;
   padding: 20px;
   text-align: center;
   border-radius: 10px;
   background: #fff;
   box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.progress-container2 {
   margin: auto;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   border: 1px solid #cfcfcf;
}

h2 {
   margin: 10px;
   padding-bottom: 10px;
   text-transform: uppercase;
}

.progress2 .mask,
.progress2 .fill {
   width: 150px;
   height: 150px;
   position: absolute;
   border-radius: 50%;
}

.progress2 .mask {
   clip: rect(0px, 150px, 150px, 75px);
}

.inside-circle {
   width: 122px;
   height: 122px;
   font-size: 2rem;
   position: absolute;
   background-color: #fff;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 14px 0 0 14px;
}

.mask .fill {
   clip: rect(0, 75px, 150px, 0);
   background: var(--porcentage);
}

.mask.full,
.progress2 .fill {
   animation: fill ease-in-out 3s;
   transform: rotate(150deg);
}

@keyframes fill {
   0% {
      transform: rotate(0deg);
   }

}

.inside-circle span {
   font-size: 1.2rem;
   margin-left: 0.2rem;
}

.line {
   margin-top: 2rem;
   border: 1px solid rgb(216, 216, 216);
}

.progress2-report {
   display: flex;
   justify-content: center;
   align-items: center;
}

.progress2-report h3 {
   font-size: 1.5rem;
   padding: 1rem;
}

.progress2-report span {
   font-size: 1rem;
   color: rgb(99, 98, 98);
}

.progress2-report .line {
   height: 5rem;

}



/*Menu desplegable dinamico*/



.sidebar {
   position: fixed;
   left: 0;
   top: 0;
   height: 100%;
   width: 78px;
   background: var(--main-color);
   padding: 6px 14px;
   z-index: 99;
   transition: all 0.5s ease;
}

.sidebar.open {
   width: 250px;
}



.sidebar .logo-details {
   height: 60px;
   display: flex;
   align-items: center;
   position: relative;
}

.sidebar .logo-details .icon {
   opacity: 0;
   transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
   color: #fff;
   font-size: 20px;
   font-weight: 600;
   opacity: 0;
   transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
   opacity: 1;
}

.sidebar .logo-details #btn {
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   font-size: 22px;
   transition: all 0.4s ease;
   font-size: 23px;
   text-align: center;
   cursor: pointer;
   transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
   text-align: right;
}

.sidebar i {
   color: #fff;
   height: 60px;
   min-width: 50px;
   font-size: 28px;
   text-align: center;
   line-height: 60px;
}

.sidebar .nav-list {
   margin-top: 20px;
   height: 100%;
}

.sidebar li {
   position: relative;
   margin: 8px 0;
   list-style: none;
}

.sidebar li .tooltip {
   position: absolute;
   top: -20px;
   left: calc(100% + 15px);
   z-index: 3;
   background: #fff;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
   padding: 6px 12px;
   border-radius: 4px;
   font-size: 15px;
   font-weight: 400;
   opacity: 0;
   white-space: nowrap;
   pointer-events: none;
   transition: 0s;
}

.sidebar li:hover .tooltip {
   opacity: 1;
   pointer-events: auto;
   transition: all 0.4s ease;
   top: 50%;
   transform: translateY(-50%);
}

.sidebar.open li .tooltip {
   display: none;
}

.sidebar .bx-search {
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   font-size: 22px;
   background: var(--second-color);
   color: #FFF;
}

.sidebar.open .bx-search:hover {
   background: #1d1b31;
   
}

.sidebar .bx-search:hover {
   background: #FFF;
   color: #11101d;
}

.sidebar li a {
   display: flex;
   height: 100%;
   width: 100%;
   border-radius: 12px;
   align-items: center;
   text-decoration: none;
   transition: all 0.4s ease;
   
}

.sidebar li a:hover {
   background: #FFF;
}

.sidebar li a .links_name {
   color: #fff;
   font-size: 15px;
   font-weight: 400;
   white-space: nowrap;
   opacity: 0;
   pointer-events: none;
   transition: 0.4s;
}

.sidebar.open li a .links_name {
   opacity: 1;
   pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
   transition: all 0.5s ease;
   color: #11101D;
}

.sidebar li i {
   height: 50px;
   line-height: 50px;
   font-size: 18px;
   border-radius: 12px;
}

.sidebar li.profile {
   position: fixed;
   height: 60px;
   width: 78px;
   left: 0;
   bottom: -8px;
   padding: 10px 14px;
   background: var(--main-color);
   transition: all 0.5s ease;
   overflow: hidden;
}

.sidebar.open li.profile {
   width: 250px;
}

.sidebar li .profile-details {
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
}

.sidebar li img {
   height: 45px;
   width: 45px;
   object-fit: cover;
   border-radius: 6px;
   margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
   font-size: 15px;
   font-weight: 400;
   color: #fff;
   white-space: nowrap;
}

.sidebar li.profile .job {
   font-size: 12px;
}

.sidebar .profile #log_out {
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   background: var(--second-color);
   width: 100%;
   height: 60px;
   line-height: 60px;
   border-radius: 0px;
   transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
   width: 50px;
   background: none;
}

.home-section {
   position: relative;
   background: #E4E9F7;
   min-height: 100vh;
   top: 0;
   left: 78px;
   width: calc(100% - 78px);
   transition: all 0.5s ease;
   z-index: 2;
}

.sidebar.open~.home-section {
   left: 250px;
   width: calc(100% - 250px);
}

.home-section .text {
   display: inline-block;
   color: #11101d;
   font-size: 25px;
   font-weight: 500;
   margin: 18px
}

.sidebar ol{
   padding-left: 0;
}

.sidebar ul{
   padding-left: 0;
}

@media (max-width: 420px) {
   .sidebar li .tooltip {
      display: none;
   }
}

/*Para la ventana modal*/



#modal{
  
   top: 10px;
   color: #000;
   max-width: 50ch;
   padding: 2rem;
   left: 100px;
}

#modal::backdrop{

   background-color: rgba(0, 0, 0, 0.55);
}


button{
   background-color: var(--main-color);
  
   border-radius: 5px;
   color: white;
}

/*Para el formulario dentro de la ventana modal*/

.controls1 {
   width: 100%;
   background: #ffffff;
   padding: 10px;
   border-radius: 10px;
   margin-bottom: 16px;
   border: 1px solid #000000;
   font-family: 'calibri';
   font-size: 9px;

   margin: 0 auto;
   }

   
  


  .form-register {
   
   width: 750px;
   background: #ffffff;
   padding: 50px;
   margin: 0 auto;
   margin-top: 17px;
   border-radius: 4px;
   font-family: 'calibri';
   display: flex;
   flex-direction: column;
    
   }
   

  .form-register .botons1 {
   width: 45%;
background: red;
padding: 5px;
border-radius: 10px;
margin-bottom: 16px;
border: 1px solid #000000;
font-family: 'calibri';
font-size: 18px;
color: rgb(0, 0, 0);

}

.form-register .botons2 {
   width: 45%;
background: var(--second-color);
padding: 5px;
border-radius: 10px;
margin-bottom: 16px;
border: 1px solid #000000;
font-family: 'calibri';
font-size: 18px;
color: rgb(0, 0, 0);

}




/*Para el formulario efecto oscuro*/



.popup .overlay {
   position: fixed;
   top:0px;
   left: 0px;
   width: 100vw;
   height: 100vh;
   background: rgba(0,0,0,0.7);
   z-index: 1;
   display: none;
}
button.close-btn{
   position: absolute;
   left: 35;
   width: 30px;
   background: var(--main-color);
}
 
.close-btn{
   position: absolute;
   
   background: #222;
   color: #fff;
   font-size: 25px;
   font-weight: 600;
   line-height: 30px;
   text-align: center;
   border-radius: 50%;
}

.close-container{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: flex-end;
   background-color: red;
   height: 20%;
}

.popup .content{
   cursor: pointer;
   position: absolute;
   top: 10px;
   left: 560px;
   transform: translate(-50%,50%) scale(0);

   line-height: inherit;
   width: 520px;
   height: 220px;
   z-index: 2;
   text-align: center;
   margin: auto;
   padding: 20px;
   box-sizing: border-box;
}


.popup.active .overlay{
   display: block;
}

.popup.active .content{
   transition: all 300ms ease-in-out;
   transform: translate(-50%,50%) scale(1);
}


.sidebar input {
   font-size: 15px;
   color: black;
   font-weight: 400;
   outline: none;
   height: 50px;
   width: 100%;
   width: 50px;
   border: none;
   border-radius: 12px;
   transition: all 0.5s ease;
   background: var();
}

.sidebar.open input {
   padding: 0 20px 0 50px;
   width: 100%;
}

.sidebar .controls1{
   width: 100%;
   background: #ffffff;
   padding: 10px;
   border-radius: 10px;
   margin-bottom: 16px;
   border: 1px solid #000000;
   font-family: 'calibri';
   font-size: 18px;
   margin: auto;
}

.seleccion {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(0, 0, 0);
    }

/* INICIAN ESTILOS DEL FORMULARIO MODAL */

.container{
   max-width: 700px;
   width: 100%;
   
   padding: 25px 30px;
   border-radius: 5px;
   box-shadow: var(--shadow);
 }
 .container .title{
   font-size: 25px;
   font-weight: 500;
   position: relative;
 }
 .container .title::before{
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   height: 3px;
   width: 30px;
   border-radius: 5px;
   background: var(--gradient);
 }
 .content form .user-details{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 20px 0 12px 0;
 }
 form .user-details .input-box{
   margin-bottom: 15px;
   width: calc(100% / 2 - 20px);
 }
 form .input-box span.details{
   display: block;
   font-weight: 500;
   margin-bottom: 5px;
 }
 .user-details .input-box input{
   height: 45px;
   width: 100%;
   outline: none;
   font-size: 16px;
   border-radius: 5px;
   padding-left: 15px;
   border: 1px solid #ccc;
   border-bottom-width: 2px;
   transition: all 0.3s ease;
 }
 .user-details .input-box input:focus,
 .user-details .input-box input:valid{
   border-color: #9b59b6;
 }
  form .gender-details .gender-title{
   font-size: 20px;
   font-weight: 500;
  }
  form .category{
    display: flex;
    width: 80%;
    margin: 14px 0 ;
    justify-content: space-between;
  }
  form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  form .category label .dot{
   height: 18px;
   width: 18px;
   border-radius: 50%;
   margin-right: 10px;
   background: #d9d9d9;
   border: 5px solid transparent;
   transition: all 0.3s ease;
 }
  #dot-1:checked ~ .category label .one,
  #dot-2:checked ~ .category label .two,
  #dot-3:checked ~ .category label .three{
    background: #9b59b6;
    border-color: #d9d9d9;
  }
  form input[type="radio"]{
    display: none;
  }
  form .button{
    height: 45px;
    margin: 35px 0
  }
  form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: var(--gradient);
  }
  form .button input:hover{
   /* transform: scale(0.99); */
   background: var(--gradient2);
   }
  @media(max-width: 584px){
  .container{
   max-width: 100%;
 }
 
 form .user-details .input-box{
     margin-bottom: 15px;
     width: 100%;
   }
   form .category{
     width: 100%;
   }
   .content form .user-details{
     max-height: 300px;
     overflow-y: scroll;
   }
   .user-details::-webkit-scrollbar{
     width: 5px;
   }
   }
   @media(max-width: 459px){
   .container .content .category{
     flex-direction: column;
   }
 }

 
/* Para el boton de modo oscuro*/



.switch{
   background: #343D5B;
   border-radius: 1000px;
   border: none;
   position: relative;
   cursor: pointer;
   display: flex;
   outline: none;
   top: -2rem;

   left: 80px;
 
}

.switch::after {
   content: "";
   display: block;
   width: 30px;
   height: 30px;
   position: absolute;
   background: #F1F1F1;
   top: 0;
   left: 0;
   right: unset;
   border-radius: 100px;
   
   box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}


.switch span{

   width: 30px;
   height: 30px;
   line-height: 30px;
   display: block;
   background: none;
   color: #fff;

}

.switch:active{
   background: orange;
   color: #000;
  
}

.switch:active::after{
   right: 0;
   
   left: unset;
}

